@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}


$margin-left: 40px;
$font-size: 25px;
$roboto-bold: "Roboto-Bold";
$roboto-regular: "Roboto-Regular";


body {
    margin: 0;
    padding: 0;
    max-width: 1800px;
    font-family: $roboto-regular;
}

/* HEADER */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 170px;
    height: 30px;
}

.location {
    border-top:  1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    background-color: rgb(201, 201, 201);
}

.p1 {
    text-align: center;
}

.exploration {
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: rgb(231, 229, 229);

    h3 {
        text-align: center;
        font-size: $font-size;
        font-family: $roboto-bold;
    }

    p{
        text-align: center;
    }

    .container {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .btn {
        text-align: center;
    }
}

.fonctionnement {
    margin-left: $margin-left;

    h3 {
        font-size: $font-size;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .item {
        border: 2px solid #e6e6e6;
        border-radius: 2rem;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        padding-left: 50px;
        padding-right: 80px;
    }

}

.restaurants {
    margin-left: $margin-left;
}


