
@mixin blockproperty {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border : 0.5px solid rgb(245, 245, 245);
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 5px;
    row-gap: 5px;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
