
@mixin blockproperty {
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border : 0.5px solid rgb(245, 245, 245);
}

@mixin btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    border: 2px solid #b9b9b9;
    border-radius: 2rem;
    font-size: $font-size-body;
    color: white;
    width: 250px;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 5px;
    row-gap: 5px;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}