

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@import "mixins.scss";

$primary: black;
$primary-white: white;
$margin-left: 40px;
$font-size: 27px;
$font-size-body: 18px;
$roboto-bold: "Roboto-Bold";
$roboto-regular: "Roboto-Regular";
$roboto-thin: "Roboto-Thin";
$shrikhand-regular: "Shrikhand-Regular";
$padding-left: 15px;
$padding-bottom: 25px;
$padding-top : 25px;
$padding-right: 100px;
$padding-icones: 10px;


body {
    max-width: 1600px;
    display: block;
    margin: auto;
    font-family: $roboto-regular;
}


                                /* PAGE D'ACCUEIL */


.loader {
    display: none;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #9356DC;
    border-right-color: #FF79DA;
    border-bottom-color: #e2d9d9c5;
    border-left-color: #99E2D0;
    border-radius: 50%;
    animation: spin 3s linear infinite ;
    -webkit-animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* HEADER */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 170px;
    height: 30px;
}


/* DIV 1 */

.location {
    border-top: 0.5px solid rgb(201, 201, 201);
    box-shadow: inset 5px 12px 7px -10px  rgb(211, 210, 210);
    border-bottom: 0.5px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);

    .p1 {
        text-align: center;
        font-size: $font-size-body;

        .fa-map-marker-alt {
            color: $primary;
            padding-right: 15px;
        }
    }
}


/* DIV 2 */

.exploration {
    border-top: 0.5px solid  rgb(245, 245, 245);
    border-bottom: 0.5px solid rgb(245, 245, 245);
    @include blockproperty;
    
    h3 {
        text-align: center;
        font-size: $font-size;
        font-family: $roboto-bold;
    }

    p {
        text-align: center;
        font-family: $roboto-thin;
        font-size: 22px;
        padding-bottom: 10px;
    }

    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(245, 245, 245);
        padding-bottom: 20px;
    
        button {
            border: 0;
            color: $primary-white;
            background: linear-gradient(100deg,#ff79da, #9356dc);
            box-shadow: 5px 5px 10px 1px rgb(184, 184, 184);
            padding: 15px;
            border-radius: 2rem;
            font-size: $font-size-body;
            cursor: pointer;
        }
    
        button:hover {
            animation: button 0.6s both;
            -webkit-animation: button 0.6s both;
        }
    
          @keyframes button {
            0% {
              text-shadow: 0 0 0 rgba(170, 170, 170, 0);
            }
            100% {
              text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
              box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
            }
          }
    
          @-webkit-keyframes button {
            0% {
              text-shadow: 0 0 0 rgba(0, 0, 0, 0);
            }
            100% {
                text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
                box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
            }
          }


          }


/* SECTION 1 */

.fonctionnement {
    margin-left: $margin-left;

    h3 {
        font-size: $font-size;
        font-family: $roboto-bold;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 30px;
    }

    .number {
        color: $primary-white;
        background: #9356dc;
        height: 1.5rem;
        width: 1.5rem;
        padding: 5px;
        border-radius: 100px;
    }
    
    .item {
        padding-left: $padding-left;
        padding-bottom: $padding-bottom;
        padding-top: $padding-top;
        @include blockproperty;
        box-shadow: 5px 5px 10px 1px rgb(219, 219, 219);
    }


    li {
        list-style: none;

        a {
            text-decoration: none;
            padding-left: 40px;
            font-size: $font-size-body;
            color: $primary;
        }

        .fa-mobile-alt {
            padding-left: $padding-icones;
        }

        .fa-list-ul {
            padding-left: $padding-icones;
        }

        .fa-store {
            padding-left: $padding-icones;
        }
    }
}


/* SECTION 2 */

.restaurants {
    margin-top: 50px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 60px;

    h3 {
        font-size: $font-size;
        font-family: $roboto-bold;
        margin-left: $margin-left;
        padding-top: 50px;
    }

    .menus {
        @include grid;
    }


    .cont-item {
        width: 100%;
        -webkit-animation: cont-item 1.5s ease-in both;
        animation: cont-item 1.5s ease-in both;

        @keyframes cont-item {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }

        @-webkit-keyframes cont-item {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }

        a {
            text-decoration: none;
        }

        figure {
            border-radius: 1rem 1rem 1rem 1rem;
            box-shadow: 0 0 16px #0000002e;
            background-color: white;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;
            }

            .new {
                display: inline-block;
                position: absolute;
                background-color: #99e2d0;
                color: #1b6150;
                padding: .5rem;
                border-radius: .125rem;
                margin-left: -100px;
            }

            figcaption {
                padding: 20px;
                line-height: 25px;
                @include flex-row;
                justify-content: space-between;

                strong {
                    color: black;
                    font-size: 20px;
                    font-family: $roboto-bold;
                }

                span {
                    color: black;
                    font-size: $font-size-body;
                    font-family: $roboto-thin;

                }

                .far {
                    display: block;
                    font-size: 35px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: black;

                    .far:hover{
                        display: none;
                    }
                }

                .fas {
                    display: none;
                }

                .fas:hover {
                    display: block;
                    font-size: 35px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));;
                }
            }
        }
    }
}


/* FOOTER */

footer {
    background-color: #353535;

    .ohmyfood {
        padding-top: 10px;
        padding-left: 40px;
        font-family: $shrikhand-regular;
        color: $primary-white;
        font-size: 20px;
    }

    .choix-footer li {
        list-style-type: none;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: $primary-white;
        }

        .fa-utensils {
            color: $primary-white;
            padding-right: 10px;
        }

        .fa-hands-helping {
            color: $primary-white;
            padding-right: 10px;
        }
    }
}

  
    /* LA PALETTE DU GOÛT, LA NOTE ENCHANTÉE, À LA FRANCAISE, LE DÉLICE DES SENS */


/* HEADER */

.arrow {

    a {
        left: 30px;
        position: absolute;
        padding-top: 25px;
        font-size: 20px;
    }
}


/* DIV 1 */

.first {
    
    .picture {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

header a {    
    right: 30px;
    position: absolute;
    margin-left: 30px;
    font-size: 25px;
    color: $primary;
}

.menu {
    @include blockproperty;
    max-width: 1280px;
    margin: auto;
    margin-top: -6rem;
    position: relative;

    h3 {
        font-family: $shrikhand-regular;
        font-size: $font-size;
        padding-left: 20px;
    }
}

.contenu {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    column-gap: 40px;
}

.food {
    @include flex-column;

    h2 {
        font-size: 20px;
    }
}

.bannieres {
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    border: 0.5px solid rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgb(189, 189, 189);
    padding: 20px;
    -webkit-animation: bannieres 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
    animation: bannieres 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
    
    @keyframes bannieres {
        0% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
    }

    @-webkit-keyframes bannieres {
        0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    .legende {
        flex-grow: 1;

        strong {
            font-family: $roboto-bold;
        }
    }

    .amount {
        font-family: $roboto-bold;
    }


    .rotate-div {
        width: 30px;
        height: 50px;

        .check {
            color: #99E2D0;
            font-size: 25px;

            .check:hover {
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        
        
                @keyframes slide-in-right {
                    0% {
                       transform: translateX(1000px); 
                       -webkit-transform: translateX(1000px);
                       opacity: 0;
                    }
                    100% {
                       transform: translateX(0);
                       -webkit-transform: translateX(0);
                       opacity: 1;
                    }
                }        
        
                @-webkit-keyframes slide-in-right{
                    0% {
                        transform: translateX(1000px);
                        -webkit-transform: translateX(1000px);
                        opacity: 0;
                    }
                    100% {
                        transform: translateX(0);
                        -webkit-transform: translateX(0);
                        opacity: 1;
                    }
                } 
            }

            .fa-check-circle:hover {
                animation: rotate-check 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                -webkit-animation: rotate-check 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        
                @keyframes rotate-check {
                    0% {
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        opacity: 0;
                    }
                    100% {
                        transform: rotate(0);
                        -webkit-transform: rotate(0);
                        opacity: 1;
                    }
                }

                @-webkit-keyframes rotate-check {
                    0% {
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        opacity: 0;
                    }
                    100% {
                        transform: rotate(0);
                        -webkit-transform: rotate(0);
                        opacity: 1;
                    }
                }
        }
    }
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(245, 245, 245);
    padding-bottom: 20px;

    button {
        border: 0;
        color: $primary-white;
        background: linear-gradient(100deg,#ff79da, #9356dc);
        box-shadow: 5px 5px 10px 1px rgb(184, 184, 184);
        padding: 15px;
        border-radius: 2rem;
        font-size: $font-size-body;
        cursor: pointer;
    }


    button:hover {
        animation: button 0.6s both;
        -webkit-animation: button 0.6s both;
    }

    @keyframes button {
        0% {
          text-shadow: 0 0 0 rgba(170, 170, 170, 0);
        }
        100% {
          text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
          box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
        }
      }

      @-webkit-keyframes button {
        0% {
          text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
            text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
            box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
        }
}

}

@media (max-width: 800px) {


    /* PAGE D'ACCUEIL */

.fonctionnement {
    margin-left: auto;

    h3 {
        margin-left: 20px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0;

        .item {
            margin: 10px;
        }
    }
}

.restaurants {

    .menus {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* LA PALETTE DU GOÛT, LA NOTE ENCHANTÉE, À LA FRANCAISE, LE DÉLICE DES SENS */


.contenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        font-size: 20px;
    }
}

}
