

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@import "mixins.scss";


$primary: black;
$primary-white: white;
$primary-purple: #9356DC;
$primary-pink: #FF79DA;
$primary-green: #99E2D0;
$primary-footer: #353535;


$font-size: 27px;
$font-size-body: 18px;

$roboto-bold: "Roboto-Bold";
$roboto-regular: "Roboto-Regular";
$roboto-thin: "Roboto-Thin";
$shrikhand-regular: "Shrikhand-Regular";

$padding-icones: 10px;



                                /* PAGE D'ACCUEIL */


body {
    max-width: 1600px;
    display: block;
    margin: auto;
    font-family: $roboto-regular;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: $primary-white;
    position: fixed;
    display: grid;
    place-items: center;
    z-index: 5;
    margin: auto;
    left: 0px;
    animation: loader 3s ease-in-out both;
    -webkit-animation: loader 3s ease-in-out both;;
    pointer-events: none;

    .spinner {
        margin: auto;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        border: 16px solid #bdc3c7;
        width: 120px;
        height: 120px;
        border-top-color: $primary-purple;
        border-right-color: $primary-pink;
        border-left-color: $primary-green;
        border-bottom-color: #e2d9d9c5;
        border-radius: 50%;
        animation: spin 3s ease-in-out both;
        -webkit-animation: spin 3s ease-in-out both;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes loader {
            0% {
                opacity: 1;
            }
            80% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                display: none;
            }
        }
    }

    @-webkit-keyframes loader {
        0% {
            opacity: 1;
        }
        80% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}


/* HEADER */

.logo {
    display: block;
    margin-left: auto; margin-right: auto;
    padding-top: 25px; padding-bottom: 25px;
    width: 170px;
    height: 30px;
}


/* DIV 1 */

.location {
    border-top: 0.5px solid rgb(201, 201, 201);
    box-shadow: inset 5px 12px 7px -10px  rgb(211, 210, 210);
    border-bottom: 0.5px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);

    .p1 {
        text-align: center;
        font-size: $font-size-body;

        .fa-map-marker-alt {
            color: $primary;
            padding-right: 15px;
        }
    }
}


/* DIV 2 */

.exploration {
    border-top: 0.5px solid  rgb(245, 245, 245);
    border-bottom: 0.5px solid rgb(245, 245, 245);
    @include blockproperty;
    
    h3 {
        text-align: center;
        font-size: $font-size;
        font-family: $roboto-bold;
    }

    p {
        text-align: center;
        font-family: $roboto-thin;
        font-size: 22px;
        padding-bottom: 10px;
    }

}

    .first-btn {
        @include btn;
    
        button {
            @include button;
        }
    
        button:hover {
            animation: button 0.6s both;
            -webkit-animation: button 0.6s both;
        }
    
          @keyframes button {
            0% {
              text-shadow: 0 0 0 rgba(170, 170, 170, 0);
            }
            100% {
              text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
              box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
            }
          }
    
          @-webkit-keyframes button {
            0% {
              text-shadow: 0 0 0 rgba(0, 0, 0, 0);
            }
            100% {
                text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
                box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
            }
        }
    }


/* SECTION 1 */

.fonctionnement {
    margin-left: 40px;

    h3 {
        font-size: $font-size;
        font-family: $roboto-bold;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 30px;
    }

    .number {
        margin-left: -30px;
        color: $primary-white;
        background: $primary-purple;
        padding: 4px 8px 4px;
        border-radius: 100px;
    }
    
    .item {
        @include blockproperty;
        padding-left: 15px; padding-bottom: 25px; padding-top: 25px;
        box-shadow: 5px 5px 10px 1px rgb(219, 219, 219);
    }

    li {
        list-style: none;

        a {
            text-decoration: none;
            padding-left: 40px;
            font-size: $font-size-body;
            color: $primary;
        }

        .fa-mobile-alt {
            padding-left: $padding-icones;
        }

        .fa-list-ul {
            padding-left: $padding-icones;
        }

        .fa-store {
            padding-left: $padding-icones;
        }
    }
}


/* SECTION 2 */

.restaurants {
    background-color: rgb(245, 245, 245);
    margin-top: 50px;
    padding-bottom: 60px;

    h3 {
        font-size: $font-size;
        font-family: $roboto-bold;
        margin-left: 40px;
        padding-top: 50px;
    }

    .menus {
        @include grid;
    }

    .cont-item {
        width: 100%;
        -webkit-animation: cont-item 1.5s ease-in both;
        animation: cont-item 1.5s ease-in both;

        @keyframes cont-item {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }

        @-webkit-keyframes cont-item {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
        }

        a {
            text-decoration: none;
        }

        figure {
            border-radius: 1rem 1rem 1rem 1rem;
            box-shadow: 0 0 16px $primary;
            background-color: $primary-white;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;
            }

            .new {
                display: inline-block;
                position: absolute;
                border-radius: .125rem;
                background-color: $primary-green;
                color: #1b6150;
                padding: .5rem;
                margin-left: -100px;
            }

            figcaption {
                @include flex-row;
                justify-content: space-between;
                padding: 20px;
                line-height: 25px;

                .description {

                    strong {
                        color: $primary;
                        font-size: 20px;
                        font-family: $roboto-bold;
                    }
    
                    span {
                        color: $primary;
                        font-size: $font-size-body;
                        font-family: $roboto-thin;
                    }
                }

                .heart {
                    margin-right: 20px;
                }
                
                .blockicon-white {
                    position: absolute;
                    font-size: 35px;
                    color: $primary;
                }
                
                .blockicon-white:hover {
                    opacity: 0%;
                }
                
                .blockicon-color {
                    position: relative;
                    background-image: linear-gradient(to left, $primary-purple, $primary-pink);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    background-size: 200%;
                    opacity: 0%;
                    font-size: 35px;
                }
                
                .blockicon-color:hover {
                    opacity: 100%;
                    animation: animatedheart 1s linear;
                }
                
                @keyframes animatedheart {
                    0% {
                      opacity: 0%;
                    }
                    100% {
                      opacity: 100%;
                    }
                }
            }
        }
    }
}


/* FOOTER */

footer {
    margin-top: -20px; margin-bottom:-20px;
    background-color: $primary-footer;

    .ohmyfood {
        padding-top: 10px; padding-left: 40px;
        font-family: $shrikhand-regular;
        color: $primary-white;
        font-size: 20px;
    }

    .choix-footer li {
        list-style-type: none;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: $primary-white;
        }

        .fa-utensils {
            color: $primary-white;
            padding-right: 10px;
        }

        .fa-hands-helping {
            color: $primary-white;
            padding-right: 10px;
        }
    }
}

  
    /* LA PALETTE DU GOÛT, LA NOTE ENCHANTÉE, À LA FRANCAISE, LE DÉLICE DES SENS */


/* HEADER */

.arrow {

    a {
        left: 30px;
        position: absolute;
        padding-top: 25px;
        font-size: 20px;

        .fa-arrow-left {
            color: $primary;
        }
    }
}


/* DIV 1 */

.first {
    
    .picture {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heart {
    padding-top: 20px;
    padding-right: 20px;
}

.blockicon-white {
    position: absolute;
    font-size: 35px;
    color: $primary;
}

.blockicon-white:hover {
    opacity: 0%;
}

.blockicon-color {
    position: relative;
    background-image: linear-gradient(to left, $primary-purple, $primary-pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    opacity: 0%;
    font-size: 35px;
}

.blockicon-color:hover {
    opacity: 100%;
    animation: animatedheart 1s linear;
}

@keyframes animatedheart {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
}

.menu {
    @include blockproperty;
    border-radius: 20px 20px 0px 0px;
    max-width: 1280px;
    margin: auto; margin-top: -6rem;
    position: relative;

    h3 {
        font-family: $shrikhand-regular;
        font-size: $font-size;
        padding-left: 20px;
    }
}

.contenu {
    display: grid;
    column-gap: 40px;
    margin-left: 20px;
}

.food {
    @include flex-column;
    -webkit-animation: item 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
    animation: item 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
    
    @keyframes item {
        0% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
    }

    @-webkit-keyframes item {
        0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }

    h2 {
        font-size: 20px;
        border-bottom: 4px solid $primary-green;
        width: 3rem;
        margin: 2rem 1rem 0 1rem;
        padding-bottom: 0.4rem;
    }

    .bannieres {
        background-color: $primary-white;
        border-radius: 0.8rem;
        margin: 1rem;
        display: flex;
        overflow: hidden;
        cursor: pointer;
    }
    
    .legende {
        flex-grow: 1;
        margin: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    strong {
        font-family: $roboto-bold;
        margin: 0.5rem 0 0.5rem 1rem;
        font-size: $font-size-body;
    }
    
    span {
        margin: 0 0 0.5rem 1rem;
        font-size: 15px;
    }
    
    .amount {
        margin: 0 1.5rem 0.5rem 0.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-family: $roboto-bold;
    }
    
    .rotate-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        background: $primary-green;
        color: $primary-white;
        margin-right: -5rem;
    }
    
    .fa-check-circle {
            text-decoration: none;
            font-size: 25px;
            transform: rotate(180deg);
    }
    
    
    .bannieres:hover .rotate-div {
            animation: linear 0.2s validationhover;
            -webkit-animation: linear 0.2s validationhover;
            animation-fill-mode: forwards; 
            -webkit-animation-fill-mode: forwards;
    }
    
    @keyframes validationhover {
                from {
                    margin-right: -5rem;
                }
                to {
                    margin-right: 0;
                }
            }
    
            @-webkit-keyframes validationhover {
                from {
                    margin-right: -5rem;
                }
                to {
                    margin-right: 0;
                }
            }
    
    
    .bannieres:hover .fa-check-circle {
      animation: linear 0.1s validationhoverrotate;
                -webkit-animation: linear 0.1s validationhoverrotate;
                animation-fill-mode: forwards;
                -webkit-animation-fill-mode: forwards;
                animation-delay: 0.2s;
                -webkit-animation-delay: 0.2s;
    }
    
    @keyframes validationhoverrotate {
                    from {
                        transform: rotate(180deg);
                    }
                    to {
                        transform: rotate(0deg);
                    }
                }
                @-webkit-keyframes validationhoverrotate {
                    from {
                        transform: rotate(180deg);
                    }
                    to {
                        transform: rotate(0deg);
                    }
                }
    
}


.second-btn {
    @include btn;
    max-width: 1280px;
    margin: auto;

    button {
        @include button;
    }


    button:hover {
        animation: button 0.6s both;
        -webkit-animation: button 0.6s both;
    }

    @keyframes button {
        0% {
          text-shadow: 0 0 0 rgba(170, 170, 170, 0);
        }
        100% {
          text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
          box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
        }
    }

      @-webkit-keyframes button {
        0% {
          text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
            text-shadow: 6px 6px 18px rgba(255, 255, 255, 0.829);
            box-shadow: 5px 5px 10px 1px rgb(133, 133, 133);
        }
    }
}



@media (max-width: 800px) {


    /* PAGE D'ACCUEIL */

    .fonctionnement {
        margin-left: 20px;

        h3 {
            margin-left: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 0;

            .item {
                margin: 10px;
            }
        }
    }

    .restaurants {

        .menus {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }



/* LA PALETTE DU GOÛT, LA NOTE ENCHANTÉE, À LA FRANCAISE, LE DÉLICE DES SENS */

    .contenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 50px; padding-left: 20px; padding-right: 20px;
    }

    .food {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h2 {
            font-size: 20px;
        }
    }
}
